.card {
  display: flex;
  margin-bottom: 20px;
  padding: 1rem 2rem;
  max-width: 100%;
}
.card:hover {
  box-shadow: 2px 2px 10px grey;
}
.cardinfo {
  margin-left: 2rem;
}
.cardinfo h2 {
  margin-bottom: 1rem;
}
.cardinfo p b {
  margin-left: 1rem;
  color: rgb(43, 42, 42);
}
.totalFood {
  margin-bottom: 10px;
}
.header {
  color: rgb(26, 24, 24);
}
@media only screen and (max-width: 600px) {
  .card {
    flex-direction: column;
  }
  .cardinfo {
    padding-top: 1rem;
    margin-left: 1rem;
    color: grey;
  }
}
