.form {
  min-width: 100%;
  padding: 1rem 0;
}
.input {
  min-width: 80%;
  height: 50px;
  padding: 10px 50px;
  border: 1px solid lightblue;
}
.btn {
  border: 1px solid lightblue;
  background-color: lightblue;
  color: black;
  text-transform: uppercase;
  min-width: 20%;
  height: 50px;
}
