* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Roboto', sans-serif;
  background: #eee;
}
.container {
  max-width: 750px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
